<AuthorizeView Roles="@Constants.Admin">
    <a class="dropdown-item" href="admin/categories">Categories</a>
    <a class="dropdown-item" href="admin/producttypes">Product Types</a>
    <a class="dropdown-item" href="admin/products">Products</a>
    <hr />
</AuthorizeView>
