<div class="dropdown">
    <button @onclick="ToggleUserMenu"
            @onfocusout="HideUserMenuAsync"
            class="btn btn-secondary dropdown-toggle user-button">
        <i class="oi oi-person"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right @UserMenuCssClass">
        <AuthorizeView>
            <Authorized>
                <a href="userprofile" class="dropdown-item">Profile</a>
                <a href="orders" class="dropdown-item">My Orders</a>
                <hr />
                <button class="dropdown-item" @onclick="LogOutAsync">Log Out</button>
            </Authorized>
            <NotAuthorized>
                <a href="login?returnUrl=@NavigationManager.ToBaseRelativePath(NavigationManager.Uri)"
                   class="dropdown-item">Log In</a>
                <a href="register"
                   class="dropdown-item">Register</a>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>
